@page
@model IndexModel

@{
    ViewData["Title"] = "Avaleht";
}

<h1>Ürituste haldamise süsteem</h1>

<p>
    <a class="btn btn-dark" asp-page="/Events/Create">Lisa uus üritus</a>
</p>

<div class="container">
    <div class="row">
        <div class="col-xl-7">
            <div class="table">
                <h3 class="text-center">Tulevased üritused</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event![0].Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Event![0].HappeningAt)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Event![0].Location)
                        </th>
                        <th>
                            Külalisi
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Event!)
                    {
                        @if (IndexModel.IsInFuture(item.HappeningAt))
                        {
                            <tr>
                                <td>
                                    <a asp-page="/Events/Details" asp-route-id="@item.Id">@item.Name</a>
                                </td>
                                <td>
                                    @item.HappeningAt.ToString("dd.MM.yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @IndexModel.GetParticipantCount(item)
                                </td>

                                <td>
                                    <div class="dropdown show">
                                        <a class="btn btn-dark dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Lisa osaleja
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" asp-page="/Persons/Create" asp-route-eventId="@item.Id">Eraisik</a>
                                            <a class="dropdown-item" asp-page="/Businesses/Create" asp-route-eventId="@item.Id">Ettevõte</a>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <a asp-page="/Events/Delete" asp-route-id="@item.Id">
                                        <svg enable-background="new 0 0 32 32" height="28px" id="Layer_1" version="1.1"
                                             viewBox="0 0 32 32" width="28px" xml:space="preserve"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M20.377,16.519l6.567-6.566c0.962-0.963,0.962-2.539,0-3.502l-0.876-0.875c-0.963-0.964-2.539-0.964-3.501,0  L16,12.142L9.433,5.575c-0.962-0.963-2.538-0.963-3.501,0L5.056,6.45c-0.962,0.963-0.962,2.539,0,3.502l6.566,6.566l-6.566,6.567  c-0.962,0.963-0.962,2.538,0,3.501l0.876,0.876c0.963,0.963,2.539,0.963,3.501,0L16,20.896l6.567,6.566  c0.962,0.963,2.538,0.963,3.501,0l0.876-0.876c0.962-0.963,0.962-2.538,0-3.501L20.377,16.519z" fill="#515151"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="table">
                <h3 class="text-center">Toimunud üritused</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event![0].Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Event![0].HappeningAt)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Event![0].Location)
                        </th>
                        <th>
                            Külalisi
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Event.Reverse())
                    {
                        @if (!IndexModel.IsInFuture(item.HappeningAt))
                        {
                            <tr style="height: 48px">
                                <td>
                                    <a asp-page="/Events/Details" asp-route-id="@item.Id">@item.Name</a>
                                </td>
                                <td>
                                    @item.HappeningAt.ToString("dd.MM.yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @IndexModel.GetParticipantCount(item)
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>