@page
@model WebApp.Pages.Participants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Lisa osaleja</h1>

<h4>@Model.ParticipantType.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Participant.ParticipantLine1" class="control-label">@Model.ParticipantType.Line1Header</label>
                <input asp-for="Participant.ParticipantLine1" class="form-control" />
                <span asp-validation-for="Participant.ParticipantLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.ParticipantLine2" class="control-label">@Model.ParticipantType.Line2Header</label>
                <input asp-for="Participant.ParticipantLine2" class="form-control" />
                <span asp-validation-for="Participant.ParticipantLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.ParticipantLine3" class="control-label">@Model.ParticipantType.Line3Header</label>
                <input asp-for="Participant.ParticipantLine3" class="form-control" />
                <span asp-validation-for="Participant.ParticipantLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.AdditionalInformation" class="control-label"></label>
                <input asp-for="Participant.AdditionalInformation" class="form-control" />
                <span asp-validation-for="Participant.AdditionalInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Participant.EventId" value="@Model.Event.Id"/>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Participant.ParticipantTypeId" value="@Model.ParticipantType.Id"/>
            </div>
            <div class="form-group">
                <label asp-for="Participant.PaymentOptionId" class="control-label"></label>
                <select asp-for="Participant.PaymentOptionId" class ="form-control" asp-items="@Model.PaymentOptionsSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Events/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
