@page
@model WebApp.Pages.Participants.DeleteModel

@{
    ViewData["Title"] = "Eemalda osaleja";
}

<h1>Eemalda osaleja</h1>

<h3>Kas sa oled kindel, et tahad selle osaleja eemaldada '@Model.Participant!.Event!.Name' nimekirjast?</h3>
<div>
    <h4>@Model.Participant!.ParticipantType!.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model.Participant!.ParticipantType!.Line1Header
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant!.ParticipantLine1)
        </dd>
        <dt class="col-sm-2">
            @Model.Participant!.ParticipantType!.Line2Header
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant!.ParticipantLine2)
        </dd>
        <dt class="col-sm-2">
            @Model.Participant!.ParticipantType!.Line3Header
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant!.ParticipantLine3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant!.AdditionalInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant!.AdditionalInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant!.Event!.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant!.Event!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant!.PaymentOptionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant!.PaymentOption!.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Participant!.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Events/Details" asp-route-id="@Model.Participant!.EventId">Back to List</a>
    </form>
</div>
