@page
@model WebApp.Pages.Participants.EditModel

@{
    ViewData["Title"] = "Muuda osaleja andmeid";
}

<h1>Muuda osaleja andmeid</h1>

<h4>@Model.Participant!.ParticipantType!.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Participant!.ParticipantLine1" class="control-label">@Model.Participant!.ParticipantType!.Line1Header</label>
                <input asp-for="Participant!.ParticipantLine1" class="form-control" />
                <span asp-validation-for="Participant!.ParticipantLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.ParticipantLine2" class="control-label">@Model.Participant!.ParticipantType!.Line2Header</label>
                <input asp-for="Participant!.ParticipantLine2" class="form-control" />
                <span asp-validation-for="Participant!.ParticipantLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.ParticipantLine3" class="control-label">@Model.Participant!.ParticipantType!.Line3Header</label>
                <input asp-for="Participant!.ParticipantLine3" class="form-control" />
                <span asp-validation-for="Participant!.ParticipantLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.AdditionalInformation" class="control-label"></label>
                <input asp-for="Participant!.AdditionalInformation" class="form-control" />
                @if (Model.Participant!.ParticipantType!.Name == "Eraisik")
                {
                            
                    <span class="text-danger">@Model.ErrorMessage</span>
                }
                else if (Model.Participant!.ParticipantType!.Name == "Ettevõte")
                {
                    <span asp-validation-for="Participant!.AdditionalInformation" class="text-danger"></span>
                }
            </div>
                <input type="hidden" asp-for="Participant!.EventId"/>
                <input type="hidden" asp-for="Participant!.ParticipantTypeId"/>
                <input type="hidden" asp-for="Participant!.PaymentOptionId"/>
            <input type="hidden" asp-for="Participant!.Id" />
            <div class="form-group">
                <input type="submit" value="Muuda" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-page="./Details" asp-route-id="@Model.Participant!.Id">Tagasi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
