@page
@model WebApp.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Eraisik";
}

<h1>Andmed</h1>

<div>
    <h4>Eraisik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.IdCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.IdCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Person.AdditionalInfo == null)
            {
                <div>Puudub!</div>
            }
            else
            {
                @Html.DisplayFor(model => model.Person.AdditionalInfo)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PaymentOptionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PaymentOption!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.EventId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Event!.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-page="/Events/Details" asp-route-id="@Model.Person.EventId">Tagasi</a>
    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Person.Id">Muuda</a>
</div>
