@page
@model WebApp.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>EventPlanner</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                <tr>
                    <p class="text-center">Incoming events</p>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Event) {
                    @if (item.HappeningAt.CompareTo(DateTime.Now) > 0)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @item.HappeningAt.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
                
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                <tr>
                    <p class="text-center">Past events</p>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Event) {
                    @if (item.HappeningAt.CompareTo(DateTime.Now) < 0)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @item.HappeningAt.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
