@page
@model WebApp.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Avaleht";
}

<h1>Ürituste haldamise süsteem</h1>

<p>
    <a asp-page="Create">Lisa uus üritus</a>
</p>

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <p class="text-center">Tulevased üritused</p>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Event!) {
                    @if (item.HappeningAt.CompareTo(DateTime.Now) > 0)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                            </td>
                            <td>
                                @item.HappeningAt.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            @{
                                var participantCount = 0;
                                foreach (var participant in item.Participants!)
                                {
                                    if (participant.ParticipantType!.Name == "Ettevõte")
                                    {
                                        participantCount += Int32.Parse(participant.ParticipantLine3);
                                    }
                                    else if (participant.ParticipantType!.Name == "Eraisik")
                                    {
                                        participantCount++;
                                    }
                                }
                                <td>
                                    @participantCount
                                </td>
                            }
                            <td>
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Lisa osaleja
                                    </a>
                                                                
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        @foreach(var type in Model.ParticipantTypes!){
                                        <a class="dropdown-item" asp-page="/Participants/Create" asp-route-eventId="@item.Id" asp-route-participantTypeId="@type.Id">@type.Name</a>
                                        }
                                    </div>
                                </div>
                                
                                <a asp-page="./Edit" asp-route-id="@item.Id">Muuda</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Kustuta</a>
                            </td>
                        </tr>
                    }
                }
                
                </tbody>
            </table>
            </div>

        </div>
        <div class="col-md">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <p class="text-center">Toimunud üritused</p>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Event)
                    {
                        @if (item.HappeningAt.CompareTo(DateTime.Now) < 0)
                        {
                            <tr>
                                <td>
                                    <a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                                </td>
                                <td>
                                    @item.HappeningAt.ToString("dd.MM.yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                @{
                                var participantCount = 0;
                                foreach (var participant in item.Participants!)
                                {
                                    if (participant.ParticipantType!.Name == "Ettevõte")
                                    {
                                        participantCount += Int32.Parse(participant.ParticipantLine3);
                                    }
                                    else if (participant.ParticipantType!.Name == "Eraisik")
                                    {
                                        participantCount++;
                                    }
                                }
                                <td>
                                    @participantCount
                                </td>
                                }
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
